.app {
  background-color: rgb(53, 53, 53);
  padding: 20px;
}

.small-projects {
  display: grid;
  justify-items: center;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(53, 53, 53);
}

.project__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  border: 5px darkgray solid;
  height: 50vh;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
}

.project__container::-webkit-scrollbar {
  display: none;
}

.section__title {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 28px;
}

.section__description {
  max-width: 60%;
}

@media (max-width: 750px) {
  .small-projects {
    grid-template-columns: 1fr;
  }
}
